.edit {
    .main {
        padding-top: 120px;
        padding-bottom: 120px;
        background-color: $bg;
    }
    .s-1 {
        @include w1200();
        @include padding-width();
        align-items: center;
        h1 {
            width: 50%;
            font-size: $font_def;
        }
        .wrap {
            width: 50%;
            align-items: center;
            font-size: $font_def;
            .logout {
                margin-left: 60px;
                border: 1px solid $bk;
                background-color: $w;
                padding: 10px 20px;
                line-height: 1;
            }
        }
    }
    .s-2 {
        @include w1200();
        @include padding-width();

        .title {
            font-size: $font_title;
            font-family: TTFirsNeue;
            margin-top: 60px;
            text-align: center;
        }
        .bar {
            background-color: $bk;
            width: 100px;
            height: 1px;
            margin: 20px auto;
        }
        h2 {
            font-size: $font_def;
            margin-bottom: 30px;
            text-align: center;
        }
        .form-wrap {
            @include w600();
            align-items: start;
            .left {
                width: 20%;
                margin-right: 30px;
                img {
                    object-fit: contain;
                }
            }
            .right {
                width: 80%;
                margin-left: 30px;
                li {
                    align-items: center;
                    font-size: $font_def;
                    margin-bottom: 30px;
                }
                .form-left {
                    width: 30%;
                }
                .form-right {
                    width: 70%;
                }
                input[type="text"] {
                    width: 100%;
                    padding: 10px 10px;
                    background-color: $w;
                    border: 1px solid $bk;
                    font-size: $font_def;
                }
                input[type="email"] {
                    width: 100%;
                    padding: 10px 10px;
                    background-color: $w;
                    border: 1px solid $bk;
                    font-size: $font_def;
                }
                .radio-input {
                    background-color: $w;
                    border: 1px solid $bk;
                    font-size: $font_def;
                    & + label {
                        padding-left: 20px;
                        position: relative;
                        margin-right: 20px;
                    }
                    & + label::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 15px;
                        height: 15px;
                        border: 1px solid $bk;
                        background-color: $w;
                    }
                    &:checked + label::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 15px;
                        height: 15px;
                        background: $key;
                    }
                }
                select {
                    padding: 10px 10px;
                    background-color: $w;
                    border: 1px solid $bk;
                    font-size: $font_def;
                }
                .check {
                    & + label {
                        display: block;
                        position: relative;
                        padding-left: 35px;
                        cursor: pointer;
                    }
                    & + label:before {
                        content: "";
                        display: block;
                        width: 15px;
                        height: 15px;
                        border: 1px solid $bk;
                        background-color: $w;
                        position: absolute;
                        left: 0;
                        top: 0;
                        transition: all 0.12s, border-color 0.08s;
                    }
                    &:checked + label:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 15px;
                        height: 15px;
                        background: $key;
                    }
                }
                .back-btn {
                    font-size: $font_def;
                    width: 50%;
                    color: $key;
                    border: 1px solid $key;
                    background-color: $w;
                    padding: 20px 30px;
                    text-align: center;
                    display: inline-block;
                    margin-right: 15px;
                }
                input[type="submit"] {
                    font-size: $font_def;
                    width: 50%;
                    color: $key;
                    border: 1px solid $key;
                    background-color: $w;
                    padding: 20px 30px;
                    text-align: center;
                    display: inline-block;
                    margin-left: 15px;
                }
                .password {
                    a {
                        color: $key;
                        text-decoration: underline;
                    }
                }
                .error {
                    margin-top: 10px;
                    line-height: 1.4;
                    color: $err;
                }
            }
        }
    }
}
