.payment {
    .main {
        padding-top: 180px;
        padding-bottom: 120px;
        background-color: $bg;
    }
    form {
        @include w600();
        background-color: $w;
        padding: 30px 30px;
        border: 1px solid $bk;
        .form-group {
            width: 100%;
            padding: 10px 10px;
            margin-bottom: 30px;
            background-color: $w;
            border: 1px solid $bk;
            font-size: $font_def;
        }
        .btn {
            margin-top: 60px;
            text-align: center;
            .btn-primary {
                font-size: $font_def;
                width: 100%;
                color: $key;
                border: 1px solid $key;
                background-color: $w;
                padding: 20px 30px;
                display: inline-block;
            }
        }
    }
}
